body {
	margin: 0;
	padding: 0;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	color: #000000;
	background-color:#96a3a2;
	/*background-attachment: fixed  ;
	background-image: url('background.jpg');
	background-repeat: no-repeat;*/
}

td {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
}

.link1 a {
	text-decoration: none;
	font-weight: bold;
	color:#666;
}
.link1 a:visited {text-decoration: none;}
.link1 a:active {text-decoration: none;}
.link1 a:hover {text-decoration:underline;}

.outertable {
	color: #ccc;
	background-color: #666;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
}
.midtable {
  color: #000000;
  background-color: #F2F2F2;
  font-family: Tahoma, Geneva, sans-serif;
  font-size:12px;
}

.top {
	background-image: url(adminup_bg.jpg);
	background-repeat: repeat-x;
	color: #CCC;
	vertical-align: top;
}

.topright {
	background-image: url(adminup_bg.jpg);
	background-repeat: repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	padding-top: 35px;
	padding-right: 10px;
	color: #f2f2f2;
}
.topline {
	/*background-image: url(admintop_bg.jpg);
	background-repeat: repeat-x;*/
	background-color:#fff;
	color: #666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #888;
}

.stylepicker {
	background-color:#F2F2F2;
	font-family:Arial, Helvetica, sans-serif;
	vertical-align: middle;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 2px solid #CECECE;
}

.smalltxt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.smalltxt_bold {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
.greytitle {
	background-color:#999;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#FFF;
	vertical-align: middle;
}

.admintab {
	background-image:url(admin-tab.png);
	background-repeat:repeat-x;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#FFF;
}

.statstable {
	background-color: #FFF;
	font-weight:normal;
	border: 1px solid #999;
}

.greyboldtxt {
	font-family:Tahoma, Geneva, sans-serif;
	color:#777;
	font-weight:bold;
}

.bordotxt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#600;
}

.footer {
	background-color:#0F2226;
	color: #FFFFFF;
	text-decoration:none;
}

.tiny {
	font-size: smaller;
	font-weight: normal;
}

table.players {
	border-width: 1px;
	border-spacing: 2px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: ;
}
table.players th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
	background-color: #CCC;
	-moz-border-radius: ;
}
table.players td {
	font-size:8pt;
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
	-moz-border-radius: ;
}

table.players tr:hover {
	background-color:#e0e1f5;
	cursor: default;
}

.alert {
	background-color:#FC6;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#900;
	border: 1px dotted #333;
	padding: 10px;
}

.success {
	background-color:#6C6;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#FFF;
	border: 1px dotted #333;
	padding: 10px;
}

.info {
	background-color:#999;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#FFF;
	border: 1px dotted #333;
	padding: 10px;
}

.login {
	background-color:#CCC;
	font-family:Tahoma, Geneva, sans-serif;
	border: 1px dotted #666;
	padding: 10px;
}

.line1 a {
	text-decoration: none;
	font-weight: bold;
	color:#000;
}
.line1 a:visited {text-decoration: none;}
.line1 a:active {text-decoration: none;}
.line1 a:hover {text-decoration:underline;}